body {
  font-family: Arial, sans-serif;
 
  color: #eee;
  text-align: center;
}

h1 {
  margin: 10px;
  color: #0ff;
}

#chat-box {
  width: 400px;
  height: 600px;
  margin: auto;
  background-image: url("a.jpg");
  border-radius: 10px;
  padding: 10px;
  overflow-y: auto;
  border: 2px solid #0ff;
}

#messages p {
  text-align: left;
  margin: 5px;
}

#input-area {
  margin-top: 10px;
}
