body {
  margin: 0;
  padding: 0;
  background-image: url("b.jpg");  /* replace with your file */
  background-size: cover;   /* makes it scale to cover the whole screen */
  background-position: center; /* keeps it centered */
  background-repeat: no-repeat; /* stops tiling */
}


#chat {
  margin: 20px auto;
  padding: 20px;
  width: 300px;
  background: #222;
  border-radius: 10px;
}

#messages {
  height: 200px;
  overflow-y: auto;
  background: #333;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}
